.appointment-card {
    width: 100%;
    max-width: 330px;
    background-color: #f9f9f9;
    padding: 10px;
    margin-left: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    left: 100px;
    z-index: 1;
}

.appointment-details {
    margin-bottom: 15px;
    background-color: orange;
    padding: 10px;
}